footer {
  padding: 0 80px;
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
  .footer-top {
    padding: 160px 0 200px;
    background-color: $footerTopColor;

    @media screen and (max-width: 480px) {
      padding: 80px 0 100px;
    }
    .logo {
      margin-bottom: 40px;
      h2 {
        color: $white;
        font-family: "Montserrat";
        font-size: 2.5rem;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .footer-content {
      @media screen and (max-width: 900px) {
        flex-direction: column;
      }
      .location {
        padding-right: 120px;

        @media screen and (max-width: 900px) {
          margin-bottom: 40px;
        }
      }
      .footer-nav {
        @media screen and (max-width: 1600px) {
          width: 70%;
          justify-content: space-between;
        }

        @media screen and (max-width: 900px) {
          width: 100%;
        }

        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
        }

        .footer-nav-list {
          padding-right: 150px;

          @media screen and (max-width: 1600px) {
            padding-right: 0;
          }

          @media screen and (max-width: 768px) {
            width: 50%;
            margin-bottom: 40px;
          }

          &.contact {
            @media screen and (max-width: 768px) {
              width: 100%;
            }
          }

          .footer-nav-list-item {
            a {
              &.social-link {
                font-family: "Montserrat", sans-serif;
                font-size: 0.85rem;
                font-weight: bold;
                letter-spacing: 4px;
                text-transform: uppercase;
              }

              span.mail {
                border-bottom: 1px solid $brandColor;
              }
            }
          }
        }
      }
    }
    .footer-content,
    .footer-nav {
      display: flex;
    }

    .footer-content p,
    .footer-nav-list-item a {
      font-family: "millerdisplay";
      color: $brandColor;
      font-size: 1.05rem;
      font-weight: normal;
      letter-spacing: normal;
      line-height: normal;
    }

    .footer-content p,
    .footer-nav-list-item {
      margin-bottom: 28px;
    }
  }

  .footer-bottom {
    height: 95px;
    background-color: $footerBottomColor;
    .container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-family: "millerdisplay";
        color: $brandColor;
        font-size: 1rem;
        font-weight: normal;
        letter-spacing: normal;
        line-height: normal;
      }
    }
  }
}
