header {
  display: flex;
  justify-content: space-between;
  height: 95px;
  background-color: $white;

  @media screen and (max-width: 1024px) {
    position: relative;
  }

  @media screen and (max-width: 768px) {
    background-color: $brandColor;
  }

  .logo {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 330px;
    background-color: $brandColor;

    @media screen and (max-width: 1600px) {
      width: 250px;
    }

    @media screen and (max-width: 480px) {
      width: auto;
      padding-left: 10px;
      justify-content: flex-start;
    }

    h1 {
      font-family: "Montserrat";
      font-size: 2.5rem;
      letter-spacing: 2px;
      font-weight: bold;
      color: $white;

      @media screen and (max-width: 1600px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 1.5rem;
      }
    }
  }

  .main-nav {
    width: 100%;

    @media screen and (max-width: 1024px) {
      display: none;
      position: absolute;
      top: 95px;
      left: 0;
      width: 100%;
      background-color: $brandColor;
      z-index: 1;
      border-top: 1px solid $footerTopColor;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

    ul.main-nav-list {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @media screen and (max-width: 1024px) {
        height: auto;
        flex-direction: column;
      }

      li.main-nav-list-item {
        @media screen and (max-width: 1024px) {
          position: relative;
          display: block;
          width: 100%;
          text-align: center;
        }

        &:not(:last-child):after {
          @media screen and (max-width: 1024px) {
            position: absolute;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            height: 1px;
            width: 300px;
            background-color: $white;
          }
        }

        a.main-nav-link {
          font-size: 1.1rem;
          font-weight: normal;
          transition: color 0.2s;

          @media screen and (max-width: 1280px) {
            font-size: 0.95rem;
          }

          @media screen and (max-width: 1024px) {
            display: block;
            padding: 15px 0;
            width: 100%;
          }

          &:hover,
          &:active {
            color: $brandColor;
            @media screen and (max-width: 1024px) {
              background-color: $footerTopColor;
              color: $white;
            }
          }
        }
      }
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 400px;

    @media screen and (max-width: 1600px) {
      width: 250px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

    input {
      width: 120px;
      padding: 0 5px;
      border: 0;
      border-bottom: 1px solid $black;
      outline: 0;
      font: inherit;

      @media screen and (max-width: 1024px) {
        height: 40px;
        width: 250px;
        font-size: 1.2rem;
      }
    }

    button[type="submit"] {
      background: none;
      border: none;

      i {
        padding: 0 5px;
        font-size: 1rem;
      }
    }
  }

  .mobile-controls {
    display: flex;

    button.mobile-menu-btn {
      width: 95px;
      display: none;
      border: none;
      outline: none;
      background-color: $sectionBgColor;
      cursor: pointer;

      @media screen and (max-width: 1024px) {
        display: block;
      }

      i {
        font-size: 2rem;
        color: $footerBottomColor;
      }

      &.search {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }
}
