.hero {
  height: calc(92vh - 95px);
  min-height: 600px;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  .overlay {
    @include flex-centered;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    .hero-text {
      padding-bottom: 40px;
      color: $white;

      .hero-title {
        max-width: 680px;
        margin: 50px 0 25px;
        font-size: 5.6rem;
        font-family: "millerdisplay", serif;
        font-weight: normal;
        text-transform: capitalize;

        @media screen and (max-width: 1600px) {
          font-size: 4.5rem;
        }

        @media screen and (max-width: 1024px) {
          font-size: 3.5rem;
        }

        @media screen and (max-width: 600px) {
          font-size: 2.8rem;
        }
      }

      a.btn.cta {
        @media screen and (max-width: 480px) {
          padding: 15px 80px;
        }
      }
    }
  }
}
