.hero {
  height: calc(92vh - 95px);
  min-height: 600px;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  @media screen and (max-width: 1280px) {
    overflow-y: hidden;
  }

  .overlay {
    @include flex-centered;
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    .hero-text {
      padding-bottom: 40px;
      color: $white;

      .hero-title {
        max-width: 680px;
        margin: 50px 0 25px;
        font-size: 5.6rem;
        font-family: "millerdisplay", serif;
        font-weight: normal;
        text-transform: capitalize;

        @media screen and (max-width: 1600px) {
          font-size: 4.5rem;
        }

        @media screen and (max-width: 1024px) {
          font-size: 3.5rem;
        }

        @media screen and (max-width: 600px) {
          font-size: 2.8rem;
        }
      }

      a.btn.cta {
        @media screen and (max-width: 480px) {
          padding: 15px 80px;
        }
      }
    }
  }
}

.spotlight-widget {
  position: absolute;
  bottom: 0;
  right: 80px;
  height: 330px;
  width: 460px;
  transition: bottom 0.8s;

  @media screen and (max-width: 1700px) {
    right: 60px;
    width: 380px;
    height: 280px;
  }

  @media screen and (max-width: 1400px) {
    right: 20px;
  }

  @media screen and (max-width: 1280px) {
    right: 50%;
    transform: translateX(50%);
    bottom: -240px;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }

  .toggle {
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: $brandColor;
    color: $white;
    display: none;
    border-radius: 10px 10px 0 0;
    cursor: pointer;

    @media screen and (max-width: 1280px) {
      display: flex;
    }
  }

  .spotlight-item {
    position: relative;
    height: 100%;
    display: none;

    @media screen and (max-width: 1280px) {
      height: 240px;
    }

    &.active {
      display: block;
    }

    .spotlight-item-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 40px 20px;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: brightness(0.5);
      z-index: 0;
    }

    .content-title {
      position: absolute;
      left: 25px;
      top: 40px;
      z-index: 1;
      font-family: "millerdisplay", serif;
      font-weight: normal;
      font-size: 1.6rem;
      text-align: left;
      color: $white;
    }
  }

  .spotlight-widget-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 40px;
    right: 0;
    padding: 0 40px;
    z-index: 1;

    button {
      cursor: pointer;
      color: $white;
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      background: none;
      outline: 0;
      border: none;

      &.prev {
        visibility: hidden;
      }
    }
  }
}
