body {
  font-family: "Montserrat", sans-serif;
  // -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
}

a,
a:visited,
a:active {
  color: $black;
  text-decoration: none;
}

a.btn {
  display: inline-block;
  font-size: 1.6rem;
}

a.btn.cta {
  padding: 20px 120px;
  color: $brandColor;
  font-family: "millerdisplay";
  border: 1px solid $brandColor;
}
